<!DOCTYPE html>

<html>

<head>
    
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{>header}}
    <p>This site was created by Abhinav. It uses data from mapbox and weather stack</p>
        <img class="portrait" src="/img/me.jpg" alt="">
    </div>
    {{>footer}}

</body>

</html>